# IDE files
*.sublime-project
*.sublime-workspace

# Build Artifacts
*.Test
*.o
*.exe
*.mocked
*.modified
*.stackdump
*.debug

# Logging directories
libraries/Datalogger
applications/LinkItONE.Crest/Logs/
applications/LinkItONE.SimpleADC/Logs/

# Scons files
*.dblite
